.prueba{
    h2{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    }
    h4{
    display: flex;
    padding: 100px;
    background-color: #ffffff;
    }
}

