.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #175864;
    width: 100%;
    min-height: 10vh;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .header-text {
    color: goldenrod;
    margin-left: 20px; 
  }
  
  .Header img {
    max-width: 35%;
    max-height: 250px;
  }
  