h1{
  color: #C79215;
  /* padding-right: 100px; */
}

h3{
  color: #E6C984;
  /* padding-right: 50px; */
}

.Header{
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #175864;
}
