nav {
    width: 100%;
    background-color: black;
    min-height: 10vh;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 50%;

}

li{
    color: goldenrod;
    font-size: 18px;
    list-style-type: none;
}