nav {
    width: 100%;
    background-color: #0f3a41;
    min-height: 10vh;
    display: flex; 
    align-items: center; 
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

li {
    color: goldenrod;
    font-size: 18px;
    margin-right: 30px; 
    padding-left: 70px;
}

.li:hover {
    color: rgb(181, 181, 221); 
}
