*{
  margin: 0;
  padding: 0;
}

img{
  width: 20%;
}


.App {
  text-align: center;
}

.UserSection {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.Countersection {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  min-height: 20vh; 
  font-size: 24px;
  border: 2px solid Oblack;
  padding: 20px;
  background-color: rgb(239, 246, 208);
}

.btn-section {
  display: flex;
  width: 200%;
  justify-content: space-around;
}